# Coleta de Dados no MySQL utilizando o Python

#### Para mais detalhes sobre o pacote mysql.connector consulte:
* https://www.w3schools.com/python/python_mysql_getstarted.asp

In [1]:
import mysql.connector

Para instalação do pacote, execute o comando abaixo no prompt do Anaconda:
* conda install -c anaconda mysql-connector-python

#### Conectar ao MySQL Server sem selecionar um banco de dados

In [93]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='igti'
)

print(mydb)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

#Para criar um banco de dados use o comando abaixo
#mycursor.execute("CREATE DATABASE mydatabase")

<mysql.connector.connection.MySQLConnection object at 0x000001EAC1379448>
('bootcamp',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

#### Conectar ao MySQL Server sem selecionar um banco de dados

In [94]:

mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='igti',
    database='bootcamp'
)

print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection.MySQLConnection object at 0x000001EAC1379EC8>

In [95]:
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('caracteristicageralimovel',)
('caracteristicasgerais',)
('cidade',)
('estado',)
('imovel',)
('tipounidade',)

In [37]:
#Criar uma tabela

mycursor.execute ("CREATE TABLE caracteristicageralimovel (\
  idCaracteristicasImovel int NOT NULL AUTO_INCREMENT,\
  idcaracteristicasGerais int NOT NULL,\
  idImovel int NOT NULL,\
  temCaracteristica tinyint DEFAULT NULL,\
  PRIMARY KEY (idCaracteristicasImovel),\
  KEY fk_caracteristicasGerais_has_Imovel_Imovel1_idx (idImovel),\
  KEY fk_caracteristicasGerais_has_Imovel_caracteristicasGerais1_idx (idcaracteristicasGerais),\
  CONSTRAINT fk_caracteristicasGerais_has_Imovel_caracteristicasGerais1 FOREIGN KEY (idcaracteristicasGerais)\
                  REFERENCES caracteristicasgerais (idcaracteristicasGerais),\
  CONSTRAINT fk_caracteristicasGerais_has_Imovel_Imovel1 FOREIGN KEY (idImovel) REFERENCES imovel (idImovel)\
)")

ProgrammingError: 1050 (42S01): Table 'caracteristicageralimovel' already exists

In [10]:
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('caracteristicageralimovel',)
('caracteristicasgerais',)
('cidade',)
('estado',)
('imovel',)
('tipounidade',)

In [11]:
query = "INSERT INTO caracteristicasgerais (idcaracteristicasGerais, dsccaracteristicasGerais) VALUES (%s, %s)"
values = (1, "Portaria 24 horas")
mycursor.execute(query, values)

mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

1 registro(s) inserido(s).

In [12]:
#Inserindo multiplos valores
values = [(2, "Elevador"),(3,"Piscina")]

mycursor.executemany(query, values)

mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

2 registro(s) inserido(s).

In [13]:
mycursor.execute("SELECT * FROM caracteristicasgerais")

myresult = mycursor.fetchall()

for mydata in myresult:
    print(mydata)

(1, 'Portaria 24 horas')
(2, 'Elevador')
(3, 'Piscina')

In [14]:
mycursor.execute("SELECT idcaracteristicasGerais, dsccaracteristicasGerais FROM caracteristicasgerais")

myresult = mycursor.fetchone()

print(myresult)

(1, 'Portaria 24 horas')

In [82]:
import csv

#Leitura de arquivo sem utilizar biblioteca Pandas

filename = 'D:\DataScience\Bootcamp-Analista-de-Dados-IGTI\Modulo-03\Códigos Aulas Práticas\Cap2\PyCode\CSV\cidades.csv'

with open(filename, 'r') as incsvfile:
    reader = csv.reader(incsvfile, delimiter=',')
    next(reader, None)  # skip the headers
    for line in reader:       
        #print(line)
        #print(line[1])
        mycursor.execute ("INSERT INTO cidade (CodigoCompletoIBGE, CodigoCidadeIBGE,NomeCidade, CodEstadoIBGE)\
                  VALUES (%s, %s, %s, %s)",line)        
mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

#db.close()
incsvfile.close()

['1100015', '00015', "Alta Floresta D'Oeste", '11']

IntegrityError: 1062 (23000): Duplicate entry '1100015' for key 'cidade.PRIMARY'

In [26]:
mycursor.execute("SELECT count(*) FROM cidade")

myresult = mycursor.fetchone()

print(myresult)

(5570,)

In [27]:
mydb.close()

In [28]:
mycursor.execute("SELECT count(*) FROM cidade")

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10038 Foi tentada uma operação em algum item que não é um soquete

## Trabalho 03 - Atividade 4b

In [91]:
with open(filename, 'r') as intxtfile: 
    lines = intxtfile.readlines()
    data = np.loadtxt(lines, skiprows=1, delimiter=",", dtype=str)

In [97]:
filename = 'D:\DataScience\Bootcamp-Analista-de-Dados-IGTI\Modulo-03\Trabalho-03\caracteristicaImovel.txt'

with open(filename, 'r', encoding='utf-8') as intxtfile:
    reader = csv.reader(intxtfile, delimiter=',')
    next(reader, None)  # skip the headers
    for line in reader:       
        #print(line)
        #print(line[1])
        mycursor.execute ("INSERT INTO caracteristicasimovel (idcaracteristicasGerais, idImovel, temCaracteristica)\
                  VALUES (%s, %s, %s)",line)        
#mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

#db.close()
intxtfile.close()

ProgrammingError: 1146 (42S02): Table 'bootcamp.caracteristicasimovel' doesn't exist